<%= erb :header, :layout => false, :locals => header_vars %>

<h2 class="page-title"><%= body_vars[:title_of_page] %></h2>

<div class="row">
  <div class="large-10 columns">
    <p>
      Well, welcome to the splash page.
      Use a link on the left to actually get some work done.
    </p>
  </div>
</div>


<%= erb :footer, :layout => false, :locals => footer_vars %>